html {
  position: relative;
  min-height: 100%;
}

.container {
  width: auto;
  max-width: 850px;
}

.events {
  margin-top: 50px;
}

.events__form {
  margin-bottom: 10px;
}

.button {
  float: right;
}

.city_name {
  margin: 10px;
  color: gray;
  font-size: 0.8em;
}