<!doctype html>
<html>
{% load staticfiles %}

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'events/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'events/bootstrap/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'events/styles.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    
    {% block meta %}{% endblock %}
    <meta charset="utf-8">
    <title>Simply events</title>
    {% block script %}{% endblock %}    
  </head>
 
  <body>
    <div class="container">
      <div class="page-header">
        {% block h1 %}{% endblock %}
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>