{% extends "events/base.html" %}

{% block h1 %}
  <h1><a class="h1__homelink" href="/events/">Встречи</a> <span class='city_name'>{{city_url.name}}</span>
    <div class="button">
      <button id="create_button" type="button" class="btn btn-primary btn-sm">Добавить</button>
    </div>
  </h1>
{% endblock %} 

{% block content %}
  <div class="events">
    <form action="{% url 'index' %}" method="POST" class="events__form">
      {% csrf_token %} 

      <select name="type" id="select_type">
        <option></option>
        <option value="all">Все</option>
        <option value="paid" >Платно</option>
        <option value="free" >Бесплатно</option>
      </select>
      
      <select name="city" onchange="this.form.submit()" id="select_city">
        <option></option>
        <option value="all">Все</option>
        {% for city in cities %}
        <option value="{{ city.slug }}" >{{ city.name }}</option>
        {% endfor %}
      </select>
      <noscript><input type="submit" value="Submit"></noscript>
    </form>
    
      <div class="table-responsive">
        <table class="table table-hover">
        <tr>
          <th>Название</th>
          <th>Дата</th>
          <th>Город</th>
          <th>Цена</th>
        </tr>
        {% for event in events %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.date|date:"d E" }}</td>
          <td>{{ event.city_event.name }}</td>
          <td>{% if event.isFree %}Бесплатно {% else %}Платно {% endif %}</td>
        </tr>
        {% endfor %}
      </div>
    </div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
      document.getElementById("create_button").onclick = function () {
        ur = location.pathname
        if (ur.indexOf('city') == -1 ){
          location.pathname='/events/new/'
        }
        else {
          // new_ur = ur.replace(/type|free|paid|\W/gi , '')
          // city = new_ur.substring(new_ur.indexOf('city')+4)
          location.pathname='/events/new/'+'{{city_url.slug}}'
        }
      };
</script>

<script type="text/javascript">
        $(document).ready(function() {
          $("#select_type").select2( {placeholder: "Цена", width: '100px' });
          $("#select_city").select2( {placeholder: "Город", width: '100px' });
        });
</script>
{% endblock %} 